/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */
@import './variables';

.g8--dark ~ .g8-xml__popup {
  button,
  input,
  option,
  select,
  textarea {
    color: $g8-xml__text--dark;
  }

  button {
    background: $g8-xml__bg--inverse;
    border-color: $g8-xml__border__color--inverse;
  }

  input {
    border-bottom-color: $g8-xml__border__color--inverse;
  }

  option {
    background: $g8-xml__bg--inverse;
  }

  select,
  textarea {
    border: solid 1px $g8-xml__border__color--inverse;
  }

  .g8-xml__popup__box {
    background: $g8-xml__bg--inverse;
    border-color: $g8-xml__border__color--inverse;
  }

  .g8-xml__popup__header {
    border-bottom-color: $g8-xml__border__color--inverse;
  }

  .g8-xml__popup__footer {
    border-top-color: $g8-xml__border__color--inverse;
  }

  .g8-xml__popup__separator {
    &:before {
      border-bottom-color: $g8-xml__border__color--inverse;
    }

    > * {
      background: $g8-xml__bg--inverse;
    }
  }
}
