/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

.g8-tree__node {
  padding-top: 0.5em;
  white-space: nowrap;
}

.g8-tree__node_entry {
  width: unset;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-width: 10em;
}

.g8-tree__node_entry_tags {
  display: inline-flex;
  white-space: nowrap;
}

.g8-tree__node_entry_tags_tag {
  font-size: 0.8em;
  max-width: unset;
  overflow: unset;
}

.g8-tree__node_branch_toggle,
.g8-tree__node_entry_checker {
  flex: 0 0 1em;
  width: 1em;
  font-size: 0.8em;
}
