/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

.g8-tree__node {
  padding-top: 0.5em;
  white-space: nowrap;
}

.g8-tree__node__entry__toggle,
.g8-tree__node__entry__tags__tag {
  font-size: 0.8em;
}

.g8-tree__node__entry__toggle:before {
  content: '\2218';
}
