/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */
@import './variables';

.g8-xml__popup {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);

  button {
    padding: 0.5em;
    margin: 0 0 0 1em;
    border-radius: $g8-xml__corner--small;
    border: solid 1px $g8-xml__border-color;
  }

  input {
    border: none;
    background: transparent;
    border-bottom: solid 1px $g8-xml__border-color;
  }

  option {
    border: none;
  }

  select,
  textarea {
    border: solid 1px $g8-xml__border-color;
    background: transparent;
  }

  textarea {
    resize: both;
    min-height: 5em;
    min-width: 20em;
    max-width: 100%;
    // only useful if the textarea is the only field in the box
    // full viewport height - lines of text - padding - borders
    max-height: calc(100vh - 12em - 4px);
  }
}

.g8-xml__popup__box {
  max-width: 100%;
  max-height: 100%;
  border-radius: $g8-xml__corner--medium;
  background: $g8-xml__bg;
  border: solid 1px $g8-xml__border-color;
}

.g8-xml__popup__header,
.g8-xml__popup__body,
.g8-xml__popup__footer {
  width: 100%;
  flex: 0 0 0;
  box-sizing: border-box;
}

.g8-xml__popup__header {
  display: flex;
  padding: 1em 0.5em 1em 0.1em;
  border-bottom: solid 1px $g8-xml__border-color;
}

.g8-xml__popup__footer {
  padding: 1em;
  display: flex;
  justify-content: flex-end;
  border-top: solid 1px $g8-xml__border-color;
}

.g8-xml__popup__body {
  padding: 1em;
  flex: 1 1 auto;
  overflow: auto;
  // full viewport height - lines of text - padding - borders
  max-height: calc(100vh - 7em - 4px);
}

.g8-xml__popup__header__title {
  flex: 1;
}

.g8-xml__popup__header__close {
  padding: 0 !important;
  margin: 0 0 0 18px;
  font-size: 32px;
  line-height: 18px;
  border: none !important;
}

.g8-xml__popup__attribute {
  line-height: 2em;
}

.g8-xml__popup__declaration {
  input,
  select {
    width: 10em;
  }

  .g8-xml__popup__attributes {
    text-align: right;
  }
}

.g8-xml__popup__header__title {
  text-transform: uppercase;
}

.g8-xml__popup__control-group {
  width: 100%;
  display: flex;
  margin: 0;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.g8-xml__popup__control,
.g8-xml__popup__control-label {
  flex: 1 1 auto;
  display: block;
}

.g8-xml__popup__control {
  > input {
    width: 100%;
  }
}

.g8-xml__popup__control-label {
  text-align: right;
  padding-right: 3px;
}

.g8-xml__popup__attributes {
  width: 100%;
  display: table;

  &:not(:first-child) {
    margin-top: 6px;
  }
}

.g8-xml__popup__attribute {
  display: table-row;

  > * {
    display: table-cell;
  }
}
