/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */
@import './variables';

.g8-xml__popup {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.8);

  button,
  input,
  select {
    &:focus {
      outline: none;
    }
  }

  button {
    padding: 0.5em;
    margin: 0 0 0 1em;
    border-radius: $g8-xml-small-corner;
    border: solid 1px $g8-xml-border-color;
  }

  input {
    border: none;
    background: transparent;
    border-bottom: solid 1px $g8-xml-border-color;
  }

  option {
    border: none;
  }

  select {
    border: solid 1px $g8-xml-border-color;
    background: transparent;
  }
}

.g8-xml__popup_box {
  max-width: 100%;
  max-height: 100%;
  border-radius: $g8-xml-medium-corner;
  background: $g8-xml-bg;
  border: solid 1px $g8-xml-border-color;
}

.g8-xml__popup_header,
.g8-xml__popup_body,
.g8-xml__popup_footer {
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.g8-xml__popup_header {
  display: flex;
  border-bottom: solid 1px $g8-xml-border-color;
}

.g8-xml__popup_footer {
  display: flex;
  justify-content: flex-end;
  border-top: solid 1px $g8-xml-border-color;
}

.g8-xml__popup_header_title {
  flex: 1;
}

.g8-xml__popup_header_close {
  padding: 0 !important;
  margin: 0 0 0 18px;
  font-size: 32px;
  line-height: 18px;
  border: none !important;
}

.g8-xml__popup_attribute {
  line-height: 2em;
}

.g8-xml__popup_declaration {
  text-align: right;

  input,
  select {
    width: 10em;
  }
}

.g8-tree__dark + .g8-xml__popup {
  button,
  input,
  option,
  select {
    color: $g8-xml-text-dark;
  }

  button {
    background: $g8-xml-fg;
    border-color: $g8-xml-border-color-inverse;
  }

  input {
    border-bottom-color: $g8-xml-border-color-inverse;
  }

  option {
    background: $g8-xml-fg;
  }

  select {
    border: solid 1px $g8-xml-border-color-inverse;
  }

  .g8-xml__popup_box {
    background: $g8-xml-fg;
    border-color: $g8-xml-border-color-inverse;
  }

  .g8-xml__popup_header {
    border-bottom-color: $g8-xml-border-color-inverse;
  }

  .g8-xml__popup_footer {
    border-top-color: $g8-xml-border-color-inverse;
  }
}
