/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

$g8-xml__bg: #cccccc !default;

$g8-xml__fg: #333333 !default;

$g8-xml__text--dark: darken($g8-xml__bg, 20%);

$g8-xml__fg--inverse: $g8-xml__bg;
$g8-xml__bg--inverse: $g8-xml__fg;

$g8-xml__border__color: darken($g8-xml__fg--inverse, 20%) !default;
$g8-xml__border__color--inverse: lighten($g8-xml__bg--inverse, 10%) !default;

$g8-xml__corner--small: 3px !default;

$g8-xml__corner--medium: 6px !default;
