/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

//noinspection SassScssResolvedByNameOnly
$g8-xml__bg: #fff !default;

//noinspection SassScssResolvedByNameOnly
$g8-xml__fg: $g8-tree__fg !default;

//noinspection SassScssResolvedByNameOnly
$g8-xml__text--dark: darken($g8-tree__bg, 20%);

$g8-xml__border__color: darken($g8-xml__bg, 20%) !default;
$g8-xml__border__color--inverse: lighten($g8-xml__fg, 10%) !default;

$g8-xml__corner--small: 3px !default;

$g8-xml__corner--medium: 6px !default;
