/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

@import './variables';

%tag-name {
  display: inline;

  &:before {
    color: #ccc;
    height: 80%;
    width: 0.8em;
    margin: 0 0.5em;
    padding: 0 0.2em;
    font-size: 0.8em;
    text-align: center;
    display: inline-block;
    text-transform: lowercase;
    border-radius: $g8-xml-small-corner;
  }
}

.g8-xml__large {
  font-size: 1.2rem;
}

.g8-xml__container {
  width: 100%;
  overflow: auto;
}

.g8-xml-tree {
  .g8-tree__node_entry > * {
    display: block;
    align-items: center;
  }

  .g8-tree__node_entry_label,
  .g8-tree__node_entry_tags {
    min-width: 0;
    flex-shrink: 1;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.g8-xml-tree__declaration {
  @extend %tag-name;

  &:before {
    content: 'D';
    background: rgba(0, 0, 128, 0.8);
    text-transform: uppercase;
  }
}

.g8-xml-tree__cdata {
  @extend %tag-name;

  &:before {
    content: 'd';
    background: rgba(64, 64, 128, 0.8);
  }
}

.g8-xml-tree__comment {
  @extend %tag-name;

  &:before {
    content: 'c';
    background: rgba(96, 96, 96, 0.8);
  }
}

.g8-xml-tree__doctype {
  @extend %tag-name;

  &:before {
    content: 'T';
    background: rgba(0, 0, 128, 0.8);
    text-transform: uppercase;
  }
}

.g8-xml-tree__element {
  @extend %tag-name;

  &:before {
    content: 'e';
    background: rgba(192, 96, 192, 0.8);
  }
}

.g8-xml-tree__instruction {
  @extend %tag-name;

  &:before {
    content: 'i';
    background: rgba(32, 32, 128, 0.8);
  }
}

.g8-xml-tree__text {
  @extend %tag-name;

  &:before {
    content: 't';
    background: rgba(128, 128, 128, 0.8);
  }
}
