/*!
 * GPLv3 https://www.gnu.org/licenses/gpl-3.0.en.html
 *
 * Author: eidng8
 */

@import '~g8-vue-tree/src/components/tree-view';

.g8-tree__branch_label {
  display: flex;
  align-items: center;
}

.g8-tree__node_entry_tags {
  display: inline-flex;
}

.g8-tree__node_entry_tags_tag {
  font-size: 0.8em;
}
